In [2]:
import pandas as pd

df = pd.read_csv('Kwadella_winter_2013_cleaned.csv')
print df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 125475 entries, 0 to 125474
Data columns (total 24 columns):
Unnamed: 0            125475 non-null int64
Dusttraks_(mg/m3)     116559 non-null float64
PM10_(ug/m3)          64669 non-null float64
PM2.5_(ug/m3)         79939 non-null float64
SO2_(ppb)             86106 non-null float64
CO_(ppm)              18618 non-null float64
NO_(ppb)              65526 non-null float64
NO2_(ppb)             65661 non-null float64
Date                  125475 non-null object
Temperature_(degC)    101947 non-null float64
H01-K-E               125288 non-null float64
H02-K-N               105235 non-null float64
H03-K-S               125304 non-null float64
H04-K-S               125275 non-null float64
H05-K-N               122834 non-null float64
H06-K-N               125353 non-null float64
H07-K-S               81779 non-null float64
H10-K-N               125297 non-null float64
H11-K-X               113919 non-null float64
H12-K-N               125271 non-null float64
H15-K-S               125316 non-null float64
H17-K-N               125344 non-null float64
H18-K-S               125299 non-null float64
H20-K-S               125284 non-null float64
dtypes: float64(22), int64(1), object(1)
memory usage: 23.9+ MB
None

In [13]:
from datetime import datetime
def get_datetime(s):
    dt = datetime.strptime(s, "%m/%d/%y %H:%M")
    return dt

def preprocess(df):
    res = df.copy()
    datetimes = res.Date.apply(get_datetime)
    res['Hour'] = datetimes.apply(lambda dt: dt.hour)
    res['Month'] = datetimes.apply(lambda dt: dt.month)
    res['Year'] = datetimes.apply(lambda dt: dt.year)
    return res

In [14]:
df2 = preprocess(df)
df2.head()

,Unnamed: 0,Dusttraks_(mg/m3),PM10_(ug/m3),PM2.5_(ug/m3),SO2_(ppb),CO_(ppm),NO_(ppb),NO2_(ppb),Date,Temperature_(degC),...,H10-K-N,H11-K-X,H12-K-N,H15-K-S,H17-K-N,H18-K-S,H20-K-S,Hour,Month,Year
0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7/2/13 12:00,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12,7,2013
1,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7/2/13 12:01,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12,7,2013
2,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7/2/13 12:02,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12,7,2013
3,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7/2/13 12:03,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12,7,2013
4,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7/2/13 12:04,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12,7,2013