In [1]:
import pandas as pd

df = pd.read_csv('Kwadela2014-winter.csv')
#note: we did have to replace all the spaces in the headers we cared about with underscores. 
#We had to do this manually in the csv because pandas doesn't play nice with spaces in names
print df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 97921 entries, 0 to 97920
Columns: 456 entries, Date to Unnamed: 455
dtypes: bool(1), float64(220), int64(6), object(229)
memory usage: 340.8+ MB
None

/home/brenna/anaconda2/lib/python2.7/site-packages/IPython/core/interactiveshell.py:2902: DtypeWarning: Columns (228,229,230,231,232,233,234,235,236,237,238,239,240,241,242,243,244,245,246,247,248,249,250,251,252,253,254,255,256,257,258,259,260,261,262,263,264,265,266,267,268,269,270,271,272,273,274,275,276,277,278,279,280,281,282,283,284,285,286,287,288,289,290,291,292,293,294,295,296,297,298,299,300,301,302,303,304,305,306,307,308,309,310,311,312,313,314,315,316,317,318,319,320,321,322,323,324,325,326,327,328,329,330,331,332,333,334,335,336,337,338,339,340,341,342,343,344,345,346,347,348,349,350,351,352,353,354,355,356,357,358,359,360,361,362,363,364,365,366,367,368,369,370,371,372,373,374,375,376,377,378,379,380,381,382,383,384,385,386,387,388,389,390,391,392,393,394,395,396,397,398,399,400,401,402,403,404,405,406,407,408,409,410,411,412,413,414,415,416,417,418,419,420,421,422,423,424,425,426,427,428,429,430,431,432,433,434,435,436,437,438,439,440,441,442,443,444,445,446,447,448,449,450,451,452,453,454,455) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [2]:

house_list = [column for column in df if '-K' in column]
print house_list

column_list = ['Dusttraks_(mg/m3)','PM10_(ug/m3)','PM2.5_(ug/m3)','SO2_(ppb)',
              'CO_(ppm)','NO_(ppb)','NO2_(ppb)','Hour', 'Minute','Day','Month',
              'Year','Temperature_(degC)']

cleandf = df[column_list+house_list]

print cleandf.head()

cleandf.to_csv('Kwadela_winter_2014_cleaned.csv')

['H01-K-E', 'H02-K-N', 'H03-K-S', 'H04-K-S', 'H05-K-N', 'H06-K-N', 'H07-K-S', 'H10-K-N', 'H11-K-N', 'H15-K-N', 'H16-K-N', 'H17-K-S', 'H18-K-N', 'H19-K-W', 'H22-K-S']
   Dusttraks_(mg/m3)  PM10_(ug/m3)  PM2.5_(ug/m3)  SO2_(ppb)  CO_(ppm)  \
0              0.043           NaN         31.576        NaN     0.193
1              0.041           NaN         32.248        NaN     0.163
2              0.042           NaN         12.765        NaN     0.188
3              0.044           NaN          2.687        NaN     0.206
4              0.043           NaN          3.807        NaN     0.240

   NO_(ppb)  NO2_(ppb)  Hour  Minute  Day   ...     H06-K-N  H07-K-S  H10-K-N  \
0     6.494      8.734    12       0   11   ...        11.7     15.3     17.1
1     5.375      8.286    12       1   11   ...        11.7     15.4     17.2
2     5.375      8.062    12       2   11   ...        11.8     15.4     17.3
3     5.375      8.062    12       3   11   ...        11.8     15.5     17.4
4     4.927      8.062    12       4   11   ...        11.8     15.5     17.5

   H11-K-N  H15-K-N  H16-K-N  H17-K-S  H18-K-N  H19-K-W  H22-K-S
0     16.2     15.3     15.3     15.5     15.5       15       15
1     16.5     15.4     15.3     15.5     15.5       15       15
2     16.8     15.5     15.4     15.5     15.5       15       15
3     17.0     15.5     15.4     15.5     15.5       15       15
4     17.2     15.5     15.5     15.5     15.5       15       15

[5 rows x 28 columns]

In [3]:

df = pd.read_csv('Kwadela2013-winter.csv')
#note: we did have to replace all the spaces in the headers we cared about with underscores. 
#We had to do this manually in the csv because pandas doesn't play nice with spaces in names

print df.head()

           Date  Record  Wind_Speed (m/s)  Wind_Direction (deg)  \
0  7/2/13 12:00     NaN               NaN                   NaN
1  7/2/13 12:01     NaN               NaN                   NaN
2  7/2/13 12:02     NaN               NaN                   NaN
3  7/2/13 12:03     NaN               NaN                   NaN
4  7/2/13 12:04     NaN               NaN                   NaN

   Wind_Direction_Std (deg)  Wind_Speed_Max (m/s)  Temperature_(degC)  \
0                       NaN                   NaN                 NaN
1                       NaN                   NaN                 NaN
2                       NaN                   NaN                 NaN
3                       NaN                   NaN                 NaN
4                       NaN                   NaN                 NaN

   Relative_Humidity (%)  Solar_Radiation (W/m2)  Rainfall (mm)  \
0                    NaN                     NaN            NaN
1                    NaN                     NaN            NaN
2                    NaN                     NaN            NaN
3                    NaN                     NaN            NaN
4                    NaN                     NaN            NaN

         ...         H20-S-X  H21-B-S  H21-E-X  H21-L-N  H21-S-W  H21-S-X  \
0        ...             NaN     15.2      NaN     15.5      NaN      NaN
1        ...             NaN     15.3      NaN     15.5      NaN      NaN
2        ...             NaN     15.3      NaN     15.5      NaN      NaN
3        ...             NaN     15.3      NaN     15.5      NaN      NaN
4        ...             NaN     15.3      NaN     15.5      NaN      NaN

   Dusttraks_(mg/m3)  Meshgaurd_SO2 (ppm)  Meshgaurd_CO (ppm)  \
0                NaN                  NaN                 NaN
1                NaN                  NaN                 NaN
2                NaN                  NaN                 NaN
3                NaN                  NaN                 NaN
4                NaN                  NaN                 NaN

   Sidepaks (mg/m3)
0               NaN
1               NaN
2               NaN
3               NaN
4               NaN

[5 rows x 156 columns]

In [4]:
house_list = [column for column in df if '-K' in column]

column_list = ['Dusttraks_(mg/m3)','PM10_(ug/m3)','PM2.5_(ug/m3)','SO2_(ppb)',
              'CO_(ppm)','NO_(ppb)','NO2_(ppb)','Date','Temperature_(degC)']

cleandf = df[column_list+house_list]

cleandf.to_csv('Kwadela_winter_2013_cleaned.csv')
#note: rows up to 121 are still nan. I've just used manual row deletion because it's the quickest